<div class="span12"><h3>{{title}}</h3></div>

<table >
        <tr><td width="5%">Project</td><td>:</td><td valign="middle"> <select id="projectId" disabled>
                                                                          {{#each project}}
                                                                              <option value="{{id}}">{{name}}</option>
                                                                          {{/each}}
                                                                          </select>



        </td></tr>

	    <tr><td width="5%">Key</td><td>:</td><td valign="middle"><input type='text' id='key' name="key" placeholder="Unique Key" disabled maxlength="40" value="{{issue.key}}"/></td></tr>
	    <tr><td width="13%">Summary</td><td>:</td><td valign="middle"><input type='text' id='summary' name="summary" disabled placeholder="Project Summary" maxlength="40" value="{{issue.summary}}"/></td></tr>
	    <tr><td width="13%">Description</td><td>:</td><td valign="middle"><input type='text' id='description' name="description" placeholder="Project Description" maxlength="40" value="{{issue.description}}"/></td></tr>

	    <tr><td width="5%">Type</td><td>:</td><td valign="middle">
	        <select id='type' >
              <option value="BUG">BUG</option>
                            <option value="QUERY">QUERY</option>
              <option value="FEATURE">FEATURE</option>
            </select>

	    </td></tr>
	    <tr><td width="5%">Priority</td><td>:</td><td valign="middle">
	        <select id="priority">
	         <option value="HIGHEST">HIGHEST</option>
             <option value="HIGH">HIGH</option>
             <option value="NORMAL">NORMAL</option>
             <option value="LOW">LOW</option>
           </select>

        <tr><td width="5%">owner</td><td>:</td><td valign="middle"><input disabled type='text' id='owner' name="owner" placeholder="Owner" maxlength="40" value="{{issue.owner}}"/></td></tr>
        <tr><td width="5%">status</td><td>:</td> <td valign="middle">
            <select id="status">
               <option value="OPEN">OPEN</option>
               <option value="RESOLVED">RESOLVED</option>
               <option value="INPROGRESS">INPROGRESS</option>
             </select>
        <tr><td width="10%">assignee</td><td>:</td><td valign="middle"><input type='text' id='assignee' name="assignee" placeholder="Assignee" maxlength="40" value="{{issue.assignee}}"/></td></tr>
        <tr><td width="5%">version</td><td>:</td><td valign="middle">


 <select id="version">

                                                                            {{#each version}}
                                                                                <option value="{{projectVersionId}}">{{projectVersion}}</option>
                                                                            {{/each}}
                                                                            </select>

        <tr><td width="5%">SEVERITY</td><td>:</td><td valign="middle">
            <select id="severity">
               <option value="BLOCKER">BLOCKER</option>
               <option value="CRITICAL">CRITICAL</option>
               <option value="TRIVIAL">TRIVIAL</option>
               <option value="MINOR">MINOR</option>

             </select>
</table>
<input type="button" value="Edit Issue" id="editMe">



<script type="text/javascript">
         var type = document.getElementById('type');
         var project = document.getElementById('projectId');
         var priority = document.getElementById('priority');
         var status = document.getElementById('status');
         var severity = document.getElementById('severity');
         var version= document.getElementById('version');


         type.value = "{{issue.type}}";
         project.value = "{{issue.projectId}}";
         priority.value = "{{issue.priority}}";
         status.value = "{{issue.status}}";
         severity.value = "{{issue.severity}}";
         version.value = "{{issue.version}}";
</script>




