<div class="span12"><h3>{{projectTitle}}</h3></div>
<table>
	<tr><td>Project Name</td><td>:</td><td valign="middle"> {{project.name}}</td></tr>
	<tr><td>Owner</td><td>:</td><td valign="middle">{{project.owner}}</td></tr>
	<tr><td>Description</td><td>:</td><td valign="middle">{{project.description}}</td></tr>
	<tr><td> &nbsp; </td></tr>
</table>


<div class="span12"><h3>{{issueTitle}}</h3></div>

<table border="1" >
	<tr style="background:#DCDCDC"><td width="5%">ID</td>
	    <td width="5%">Key</td>
        <td width="10%">Project ID</td>
	    <td width="13%">Summary</td>
	    <td width="5%">Type</td>
	    <td width="5%">Priority</td>
        <td width="5%">owner</td>
        <td width="5%">status</td>
        <td width="10%">assignee</td>
        <td width="5%">version</td>
        <td width="10%">created time</td>
        <td width="10%">updated time</td>
        <td width="5%">SEVERITY</td>
	</tr>
{{#each issue}}
	<tr><td>{{id}}</td>
	    <td>{{key}}</td>
        <td>{{projectId}}</td>
	    <td>{{summary}}</td>
	    <td>{{type}}</td>
	    <td>{{priority}}</td>
        <td>{{owner}}</td>
        <td>{{status}}</td>
        <td>{{assignee}}</td>
        <td>{{version}}</td>
        <td>{{createdTime}}</td>
	    <td>{{updatedTime}}</td>
        <td>{{severity}}</td>
	</tr>
{{/each}}
</table>




