<div class="span12"><h3>{{title}}</h3></div>
                            <input type="hidden" name="ukey" id="ukey" value="{{data.issue.key}}"/>
                                                        <input type="hidden" name="reporter" id="reporter" />


<table >
        <tr><td width="5%">Project</td><td>:</td><td valign="middle"> {{data.issue.projectName}}

        </td></tr>

	    <tr><td width="5%">Key</td><td>:</td><td valign="middle">{{data.issue.key}}</td></tr>
	    <tr><td width="13%">Summary</td><td>:</td><td valign="middle">{{data.issue.summary}}</td></tr>
	    	    <tr><td width="13%">Description</td><td>:</td><td valign="middle">{{data.issue.description}}</td></tr>

	    <tr><td width="5%">Type</td><td>:</td><td valign="middle">
	         {{data.issue.type}}
	    </td></tr>
	    <tr><td width="5%">Priority</td><td>:</td><td valign="middle">
	        {{data.issue.priority}}
        <tr><td width="5%">Reporter</td><td>:</td><td valign="middle">{{data.issue.reporter}}</td></tr>
        <tr><td width="5%">Status</td><td>:</td> <td valign="middle">
            {{data.issue.status}}
        <tr><td width="10%">Assignee</td><td>:</td><td valign="middle">{{data.issue.assignee}}</td></tr>
        <tr><td width="5%">Version</td><td>:</td><td valign="middle">{{data.issue.version}}</td></tr>
        <tr><td width="5%">Severity</td><td>:</td><td valign="middle">
           {{data.issue.severity}}</td></tr>
        </table>

          <br/>
<div class="span12"><h3>Comments</h3></div>

<table>
    {{#each data.comments}}
     {{#if id}}
    <tr><td colspan="2">{{creator}}
        {{#if updatedTime}}
            updated
        {{else}}
            added
        {{/if}}

        comment - {{#if updatedTime}} {{updatedTime}} {{else}} {{createdTime}} {{/if}}</td> </tr>
    <tr><td colspan="2" id="desc_{{id}}">{{commentDescription}}</td> </tr>
    <tr>
    <td> <a href="#" onclick="showCommentbox({{id}}, '{{creator}}')" >edit</a> </td>
    <td><a href="#" onclick="deleteComment({{id}})">delete</a></td>
    </tr>
    <tr><td colspan="2"> <hr></td></tr>
    {{/if}}
     {{/each}}
</table>

<div style="display:none;" id="editCommentBox">
    <input type='text' id='comment' name="comment" />
    <input type="button" value="Comment" id="commentMe">
</div>




<textarea name="review-text" id="commentVal" rows="4" cols="200" style="width: 500px; height: 100px;"></textarea>
<br>
<a href="#" id="commentAdd" >Comment</a>



<div id="windowTitleDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3>Enter your comment.</h3>
					</div>
				<div class="modal-body">
					<div class="divDialogElements">
                           <textarea name="review-text" id="commentpopup" rows="4" cols="200" style="width: 500px; height: 100px;"></textarea>
                           <input type="hidden" name="comment_id" id="comment_id" />

						</div>
					</div>
				<div class="modal-footer">
					<a href="#" class="btn" onclick="closeDialog ();">Cancel</a>
					<a href="#" class="btn btn-primary" onclick="okClicked ();" id="commentEdit">OK</a>
					</div>
				</div>



<script src="http://static.scripting.com/github/bootstrap2/js/bootstrap-modal.js"></script>
<script src="http://static.scripting.com/github/bootstrap2/js/jquery.js"></script>

<script type="text/javascript">
// {{url "/pages/comment/edit.jag"}}?key={{key}}&cid={{id}}
    function showCommentbox(id, creator){
        document.getElementById ("commentpopup").value = $("#desc_"+id).text();
        $("#comment_id").val(id);
        $("#reporter").val(creator);

        $("#windowTitleDialog").modal ("show");
    }

            $(document).ready(function() {

            $("#windowTitleDialog").bind ('show', function () {
            });



				});
			function closeDialog () {
				$('#windowTitleDialog').modal('hide');
				};
			function okClicked () {
				//document.title = document.getElementById ("commentpopup").value;
				var i = $("#comment_id").val();
				//alert($("#desc_"+i).text());

    var x  = $("#commentpopup").val();
    $('#desc_'+i).text(x);

				closeDialog ();
				};


</script>